/* CSS files add styling rules to your content */
/* Viewport is set to control page size on varying devices */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* Headings are styled to be used across the site */
h1 {
  color: black;
  font-size: 30px;
  padding-left: 22px;
}
h2 {
  color: black;
  padding: 4px;
}
h3 {
  padding: 4px;
}

/* The logo is styled for positioning/size */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    float: left;
    padding-left: 26px;
}

 /* The navigation menu */
.navbar {
  margin: 0;
  padding-top: 0px;
  background-color: #dee8eb;
  overflow: hidden;
  margin-bottom: 60px;
}

.nav-content {
    padding-top: 100px;
}
/* Navigation links */
.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The contact information within the navbar is styled */
.contact {
    font-size: 12px;
    float: right;
    padding: 15px;
    text-align: right;
    font-weight: 550;
    color: #EB7859;
}

/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  padding-top: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  color: #EB7859;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #EB7859;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #dee8eb;
  color: #EB7859;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* The content within the body is styled  */
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 100%;
  font-family: "proxima-nova",sans-serif !important;
  background-image: url("images/background.jpg");
}
/* The overall content within the section is styled */
article {
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 40px;
}
/* Ordered lists are set to have no styling/bulletpoints */
ol {
    list-style-type: none;
}
/* Padding is set for the list of services */
.service li {
  padding-top: 5px;
}
/* The introduction on each page is styled */
.intro p {
  padding-left: 15px;
}
.intro {
  padding-left: 10px;
}

/* General button styling */
.button {
  background-color: #EB7859;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  float: right;
}
/* Button styling on hover */
.button:hover {
  color: #EB7859; /* Style the submit button with a specific background color etc */
  background-color: white;
}

/* Form styling */
.contactus form {
    background-color: #dee8eb;
    padding: 16px;
    text-align: left;
}

.contactus h2 {
    margin-top: 2px;
    text-align: center;
}

textarea, input {
    width: 90%;
}

.contactusbtn {
  background-color: #EB7859;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40%;
  border-radius: 8px;
}
/* FLEXBOX GALLERY */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Flexbox styling */
.column-content {
  background-color: #dee8eb;
  margin: 12px;
  padding: 16px;
}
/* Individual styling set for some columns to improve layout */
.column-content1 {
  background-color: #dee8eb;
  margin: 12px;
  padding: 16px;
  padding-bottom: 37px;
}
/* Team page content styled */
.column-content-team {
  padding: 2px;
  text-align: center;
}
/* Image content styled individually to text */
.image-content {
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Footer styling */
footer {
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: #dee8eb;
  color: black;
  text-align: center;
  padding: 12px;
  padding-left: 26px;
}
footer::after {
  content: '';
  display: block;
  clear: both;
}
/* Opening times styled within footer */
.opening {
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
}
